button, a{
    height: 40px;
    width: 120px;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
    background-color: rgb(51, 61, 61);
    cursor: pointer;
    font-size: 30px;
    cursor: pointer;
    width: 50%;
}
.myDiv{
border: 2px solid black;
background-color: black;
color: white;
border-radius: 12px;
width: 500px;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 50px;
padding: 1rem  1rem;
box-shadow: 0px 0px 40px black;
font-size: 25px;
font-family: consolas;
}

.myDiv input{
    height: 40px;
    width: 100%;
}
.button{
    color: white;
    text-decoration: none;;
    padding: .6rem;
    border-radius: 10rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    font-weight: bold;
    font-style: normal;
   
}